
body {
    
    margin: 0;
    padding: 0;
  }
  
  .background-img {
    background-image: url('./images/clouds.jpg');
    background-size: "cover";
    background-position: "center";
    min-height: "100vh";
  }